<div class="container">
  <div class="sidebar">
    <app-search-panel></app-search-panel>
    <app-category-list></app-category-list>
  </div>
  <div class="content">
    <app-new-todo></app-new-todo>
    <div class="todo_list" *ngFor="let arr of todos$ | async">
      <div>
        <div class="close">
          <h1>{{ arr.title }}</h1>
          <button mat-button color="warn" type="button">
            <span>X</span>
          </button>
        </div>
        <span>{{ arr.description }}</span>
        <p #myname appCategory>{{ arr.category }}</p>
        <button
          type="submit"
          form="data"
          value="#"
          mat-raised-button
          color="primary"
        >
          Compete
        </button>
        <button form="data" value="#" mat-raised-button color="primary">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
