<div class="container">
  <div class="sidebar">
    <app-search-panel></app-search-panel>
    <app-category-list></app-category-list>
  </div>
  <div class="content">
    <app-new-todo></app-new-todo>
    <div class="todo_list">
      <!-- TODO: create a separate component for todo item -->
      <!-- <div>
        <div class="close">
          <h1>{{ "" }}</h1>
          <button mat-button color="warn" type="button">
            <span>X</span>
          </button>
        </div>
        <span>{{ "" }}</span>
        <p>Category</p>
        <button
          type="submit"
          form="data"
          value="#"
          mat-raised-button
          color="primary"
        >
          Compete
        </button>
        <button form="data" value="#" mat-raised-button color="primary">
          Edit
        </button>
      </div> -->
      <ng-container *ngFor="let todo of todos$ | async">
        <mat-card>
          {{ todo | json }}
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
