.container {
  display: flex;
  justify-content: center;
  background-color: #3f51b544;
  width: 100%;

  .sidebar {
    width: 15%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;

    app-search-panel {
      text-align: center;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    background-color: #ffffff;
    padding-top: 20px;

    app-new-todo {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    app-todo-items {
      width: 100%;
    }
  }
}
