<form [formGroup]="todoForm" id="data" class="example-form">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Title</mat-label>
    <input formControlName="todoTitle" matInput />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Write a description</mat-label>
    <textarea formControlName="todoDscrpt" matInput></textarea>
  </mat-form-field>
  <button
    (click)="this.todoSVC.addNewTodo('TEST', 'test', 0)"
    mat-raised-button
    type="button"
    form="data"
    value="#"
    color="primary"
  >
    Add
  </button>
</form>
