<div class="todo_list" *ngFor="let arr of todos$ | async">
  <div>
    <div class="close">
      <h1>{{ arr.title }}</h1>
      <button mat-button color="warn" type="button">
        <span>X</span>
      </button>
    </div>
    <span>{{ arr.description }}</span>
    <p>{{ arr.category }}</p>
    <button
      type="submit"
      form="data"
      value="#"
      mat-raised-button
      color="primary"
    >
      Complite
    </button>
    <button form="data" value="#" mat-raised-button color="primary">
      Edit
    </button>
  </div>
</div>
