.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  mat-icon {
    color: #3f51b5;
    opacity: 0.8;
    padding-right: 5px;
  }

  mat-list-item {
    width: 100px;
    padding-top: 40px;
    a {
      font-size: 22px;
    }
  }
}
