.todo_card {
  border: solid #3f51b544;
  border-radius: 20px;
  margin-top: 20px;
  padding-bottom: 0px;
  .header_card_container {
    display: flex;
    justify-content: space-between;
    button {
      color: rgba(241, 42, 42, 0.733);
      font-size: 25px;
      height: 0;
    }
  }
  mat-card-content {
    padding: 12px;
    padding-bottom: 0;
  }
  mat-card-footer {
    margin: 0 10px;
    p {
      font-size: medium;
    }
  }
}
