<div class="todo_list">
  <div>
    <div class="close">
      <h1 class="test">{{ todo.title }}</h1>
      <button mat-button color="warn" type="button">
        <span>X</span>
      </button>
    </div>
    <span>{{ todo.description }}</span>
    <!-- TODO: create pipe -->
    <!-- <p>{{ todo.category }}</p> -->
    <button
      type="submit"
      form="data"
      value="#"
      mat-raised-button
      color="primary"
    >
      Complite
    </button>
    <button form="data" value="#" mat-raised-button color="primary">
      Edit
    </button>
  </div>
</div>
<!--remove todolist class +material-->
