<div class="container">
  <div class="flexContainer">
    <h1 class="mat-display-2">YourTodo</h1>
    <form [formGroup]="authForm" novalidate>
      <mat-form-field appearance="fill">
        <input
          class="size"
          matInput
          placeholder="Email"
          formControlName="userName"
        />
        <mat-error *ngIf="authForm.get('userName')!.hasError('required')">{{
          getErrorMsg("userName", "required")
        }}</mat-error>
        <mat-error *ngIf="authForm.get('userName')!.hasError('minLength')">{{
          getErrorMsg("userName", "minLength")
        }}</mat-error>
        <mat-error *ngIf="authForm.get('userName')!.hasError('maxLength')">{{
          getErrorMsg("userName", "maxLength")
        }}</mat-error>
        <mat-error *ngIf="authForm.get('userName')!.hasError('pattern')">{{
          getErrorMsg("userName", "pattern")
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input
          class="size"
          type="password"
          matInput
          placeholder="Password"
          formControlName="userPassword"
        />
        <mat-error *ngIf="authForm.get('userPassword')!.hasError('required')">{{
          getErrorMsg("userPassword", "required")
        }}</mat-error>
        <mat-error
          *ngIf="authForm.get('userPassword')!.hasError('minLength')"
          >{{ getErrorMsg("userPassword", "minLength") }}</mat-error
        >
        <mat-error
          *ngIf="authForm.get('userPassword')!.hasError('maxLength')"
          >{{ getErrorMsg("userPassword", "maxLength") }}</mat-error
        >
        <mat-error
          *ngIf="authForm.get('userPassword')!.hasError('pattern')"
          >{{ getErrorMsg("userPassword", "pattern") }}</mat-error
        >
      </mat-form-field>
      <button
        class="size"
        mat-raised-button
        color="primary"
        [disabled]="authForm.invalid"
        routerLink="/todo-list"
      >
        Log in
      </button>
    </form>
    <!-- <pre class="mat-display-1">{{
      authForm.get("userName")!.errors | json
    }}</pre> -->
  </div>
</div>
