.container {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100%;
  background-color: #f1f2f6;

  .flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 20px;
    width: 550px;
    min-height: 650px;
    align-self: center;
    background-color: #ffffff;
    border-radius: 15% 30% / 10% 40%;
    box-shadow: 10px 10px 40px rgb(0 0 0 / 10%),
      0px 8px 416px rgba(175, 175, 175, 0.246);
    box-sizing: border-box;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 280px;
    padding: 0 40px;
  }

  mat-form-field {
    font-size: 32px;
    margin-bottom: 10px;
    height: 200px;
  }

  .size {
    align-self: center;
  }

  button {
    width: 350px;
    margin-top: 30px;
    height: 80px;
  }

  mat-error {
    font-size: 22px;
    margin-bottom: 0px;
  }
}
